apiVersion: v1
kind: Secret
metadata:
  name: baggage-postgres-credentials
  namespace: airport
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: baggage_db
---
apiVersion: v1
kind: Secret
metadata:
  name: baggage-secrets
  namespace: airport
type: Opaque
stringData:
  ConnectionStrings__DefaultConnection: "Host=baggage-postgres;Port=5432;Database=baggage_db;Username=postgres;Password=postgres"
  RabbitMQ__Username: guest
  RabbitMQ__Password: guest
